body{
	margin: 0;
	padding: 0;
}
.header{
	height: 80px;
	width: 100%;
	min-width: 980px;
	background-color: #7E6FFF;
	position: relative;
}
.header-container{
	margin: 0 auto;
	max-width: 980px;
}
.mylogo{
	float: left;
	margin-top: 40px; 
}
.sidebar{
	text-align: right;
	padding-top: 58px;
}
.items{
	font: "SimSun", 14px;
	color: white;
	text-decoration: none;
	margin-left: 28px;
}
@media screen and (min-width:980px) {
	.gitlogo{
		position: absolute;
		right: 10px;
		bottom: 0px;
	}
	.back-words{
		right: 0;
	}
}
@media screen and (max-width:979px) {
	.gitlogo{
		display:none;
	}
	.back-words{
		left: 600px;
	}
}
.back{
	position: relative;
}
.back-pic{
	width: 100%;
	min-width: 980px;
}
.back-words{
	position: absolute;
	background-image: -webkit-linear-gradient(
		to bottom,
		rgba(255,255,255,0.3) 0%,
		rgba(255,255,255,0.2) 75%,
		rgba(255,255,255,0) 100%);
	background-image: linear-gradient(
		to bottom,
		rgba(255,255,255,0.3) 0%,
		rgba(255,255,255,0.2) 75%,
		rgba(255,255,255,0) 100%);
	width: 360px;
	padding: 10px 10px 30px 10px;
	bottom: 5px;
	color: white;
}
.back-title{
	font-size: 14px;
	text-align: right;
}
.back-p{
	margin-top: 12px;
	font-size: 12px;
	line-height: 1.50;
	text-indent: 2em;
}
.place{
	margin-top: -5px; 
	min-width: 980px;
	width: 100%;
	padding-bottom: 90px;
	/*height: 420px;*/
	overflow: hidden;
	background-color: #CCCCCC;
}
.place-container{
	margin: 0 auto;
	max-width: 980px;
	display: flex;
	justify-content: space-between;
}
.place-intro{
	background-color: white; 
	width: 320px;
	margin-top: 10px;
}
img.place-img{
	height: 180px;
	width: 300px;
	margin: 10px 10px 15px 10px; 
}
.place-intro p{
	font-size: 12px;
	line-height: 1.70;
	width: 260px;
	margin: 0 30px 0 30px;
	padding-bottom: 25px;
	text-indent: 2em;
}
.myself{
	width: 100%;
	min-width: 980px;
	background-color: green;
	position: relative;
	height: 220px;
	padding-top: 160px;
}
.my-head{
	height: 160px;
	width: 160px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	margin-top: -210px; 
}
.myself-container{
	margin: auto;
	max-width: 980px;
}
.my-title{
	font: "Century Gothic";
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 0 190px 0 190px;
}
.my-p{
	font-size: 14px;
	color: black;
	width: 600px;
	text-indent: 2em;
	margin: 40px 190px 0 190px; 
}
.footer{
	width: 100%;
	min-width: 980px;
	height: 450px;
	color: white;
	background-color: black;
	position: relative;
	text-align: center;
}
.footer-container{
	margin: 0 auto;
	max-width: 980px;
	text-align: center;
}
.footer-sidebar{
	margin-left: -28px;
	padding: 10px 0 10px 0;
	border-bottom: gray solid 1px;
}
.footer-sides{
	color: white;
	text-decoration: none;
	margin-left: 28px;
}
.footer-items-sidebar{
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.footer-items{
	width: 100px;
	margin-top: 30px; 
}
.footer-gitlogo{
	position: absolute;
	bottom: 0;
}